{% extends "layout.html" %}
{% block body %}
<script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='bkcontrols.js')}}">	
</script>
{% for bk_num in bks %}
<div id="bk{{bk_num}}">
  <h2> BK {{bk_num + 1}} </h2>
  <b><font color="red" id="bk_failure{{bk_num}}" style="display: none">BK not responding!</font></b><br>
  BK output <b id="bk_output{{bk_num}}"></b> <button id="bk_power_button{{bk_num}}" style="display: none"></button>
  <br><br>
  voltage set point: <b id="bk_set_pt{{bk_num}}"></b> new: <input type=text id="new_set_pt{{bk_num}}" size="1"></input> V
  <b><font color="red" id="bk_error{{bk_num}}" style="display: none">Invalid setting!</font></b>
  <br><br>
  current limit: <b id="bk_i_limit{{bk_num}}"></b>
  <br><br>
  measured output voltage: <b id="bk_measured{{bk_num}}"></b>
</div>
<br>
{% endfor %}
{% if bks|length == 0 %}
<b> no bks found </b>
{% endif %}
{% endblock body %}
{% block foot %}
<a href="/findbks">find bks</a>
{% endblock foot %}
