{% extends "layout.html" %}
{% block body %}	
<link rel=stylesheet type=text/css 
href="{{ url_for('static', filename='sipmgrid.css') }}">
<script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='gaingrid.js')}}">	
</script>
<h2 align="center"> <font color="red"> gains </font></h2>
<b>set all gains:</b> <input type=text id="setAllGains" size="2"></input> <br>
<br>
{% for sipmnumber in sipm_numbers %}
<div class="xtalbox">
	<div class="content">
		<div class="table">
			<div class="table-cell">
				{% if present_sipms[sipmnumber] %}
					<a href={{"sipm" ~ sipmnumber}}>SiPM {{serials[sipmnumber]}}</a> <br>
					<txt id={{"sipm" ~ sipmnumber}}></txt>		
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endblock body %}
{% block foot %}
<button id="downloadGains">download gains to file</button>
<br><br>
load gains from file
<link rel=stylesheet type=text/css 
href="{{ url_for('static', filename='sipmgrid.css') }}">
<form action="/preview" method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=preview>
</form>
{% endblock foot %}
