<!DOCTYPE HTML>
<html>
<head>
<title>SiPMometer</title>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
<script type="text/javascript"
        src="https://www.google.com/jsapi?autoload={
             'modules':[{
             'name':'visualization',
             'version':'1',
             'packages':['corechart']
             }]
             }"></script>
</head>	
<script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='layout.js')}}"> 
</script>
<link rel=stylesheet type=text/css 
href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" 
href="{{ url_for('static', filename='favicon.ico') }}">	
<div class=page>
  <a href="{{ url_for('home') }}"><h1>Backend Electronics Status</h1></a>
  <div class=metanav>
    <div align="left">
    <a href="{{url_for('home')}}">tempgrid</a>
    <a href="{{url_for('gain_grid')}}">gaingrid</a>
    </div>
    <div align="right">
    <a style="display: none" id="stopLink" href="/stopLogging">stop</a> 
    <b style="display: none" id="loggingStopped">logging stopped</b>
    <a href="/restartLogging"> restart </a>
    </div>
  </div>
  {% block body %}{% endblock %}
  {% block foot %}{% endblock %}
  <br></br>
</div>
</html>
