{% extends "layout.html" %}
{% block body %}	
<link rel=stylesheet type=text/css 
href="{{ url_for('static', filename='sipmgrid.css') }}">
<script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='preview.js')}}">
</script>
<h2 align="center"> <font color="blue"> gain preview </font></h2>
<p align="center">{{filename}}</p>
{% for sipmnumber in sipm_numbers %}
<div class="xtalbox">
	<div class="content">
		<div class="table">
			<div class="table-cell">
				{% if present_sipms[sipmnumber] %}
					<b>SiPM {{sipmnumber}}</b> <br>
					<font id={{"sipm" ~ sipmnumber}} color="blue">{{gains[sipmnumber]}}</font>		
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endblock body %}
{% block foot %}
<button id="accept" size=4> accept and submit </button> <br><br>
try another file
<link rel=stylesheet type=text/css 
href="{{ url_for('static', filename='sipmgrid.css') }}">
<form action="/preview" method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=preview>
</form>
{% endblock foot %}