{% extends "layout.html" %}
{% block body %}	
<link rel=stylesheet type=text/css 
href="{{ url_for('static', filename='sipmgrid.css') }}">
<script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='grid.js')}}">	
</script>
<h2 align="center"> <font color="red"> Crate 3 </font></h2>
{% for sipmnumber in sipm_numbers %}
<div class="xtalbox">
	<div class="content">
		<div class="table">
			<div class="table-cell">
			{% if present_sipms[sipmnumber] %}
				<a href={{"sipm" ~ sipmnumber}}>SiPM {{serials[sipmnumber]}}</a> <br>
				<txt id={{"sipm" ~ sipmnumber}}></txt>	
			{% endif %}	
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endblock body %}
